<%= form_with(model: application) do |form| %>
  <% if application.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :cover_letter, "Carta de presentación", style: "display: block" %>
    <%= form.file_field :cover_letter, accept: ".pdf,.doc,.docx,.xls,.xlsx,.txt" %>
  </div>

  <div>
    <%= form.label :candidate_id, "Candidato", style: "display: block" %>
    <%= form.hidden_field :candidate_id, value: current_candidate.id %>
  </div>


  <div class="form-group">
    <%= form.label :job_offer_id, "Oferta de trabajo", style: "display: block" %>
    <%= form.collection_select :job_offer_id, JobOffer.all, :id, :title %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
