    <style>
.glass{

background: rgba(255, 255, 255, 0.6);
border-radius: 0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 0px solid rgba(255, 255, 255, 0.3);
}
.glass2{

background: rgba(255, 255, 255, 0.40);
border-radius: 16px;
box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
}
.glass3{

background: rgba(255, 255, 255, 0.70);
border-radius: 0px;
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 0px solid rgba(255, 255, 255, 0.3);
}

</style>

<nav class="navbar navbar-expand-lg sticky-top glass shadow-lg" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand px-4" href="/">
      <%= image_tag("dimlogo2.svg", alt: "Logo", class: "logo-img", style: "width: 220px;") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Noticias Factoring', job_offers_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Cartera Clientes', applications_path, class: 'nav-link' %>
        </li>
        <% if candidate_signed_in? && current_candidate.admin? %>
          <li class="nav-item">
            <%= link_to 'Nuevo', new_candidate_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Usuarios', candidates_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Solicitudes pendientes", pending_account_creation_requests_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= "text-warning" if candidate_signed_in? %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if candidate_signed_in? %>
              <% if current_candidate.name.present? %>
                Bienvenido-<%= current_candidate.name %>
              <% else %>
                Bienvenido-<%= current_candidate.email %>
              <% end %>
              <% if current_candidate.admin? %>
                -Admin
              <% elsif current_candidate.recruit? %>
                -Author
              <% else %>
              -Postulante
              <% end %>
             <% if current_candidate.profile_picture.attached? %>
                <%= image_tag current_candidate.profile_picture, class: "rounded-circle", style: "width: 70px; height: 70px; margin-right: 10px;" %>
              <% else %>
                <%= fa_icon "user", class: "rounded-circle", style: "font-size: 70px; margin-right: 10px;" %>
              <% end %>
            <% else %>
              Inicia sesión
            <% end %>
          </a>
                 
          <ul class="dropdown-menu ms-auto">
            <% if candidate_signed_in? %>
              <li><%= link_to "Actualizar Foto de Perfil", edit_candidate_path(current_candidate), class: "dropdown-item" %></li>
              <li><%= button_to "Cerrar Sesión", destroy_candidate_session_path, class: "dropdown-item", method: :delete %></li>
            <% else %>
              <li><%= link_to "Iniciar Sesión", new_candidate_session_path, class: "dropdown-item" %></li>
              <li><%= link_to 'Solicitar Registro', new_account_creation_request_path, method: :post, class: 'nav-link' %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
