<h1>Bienvenido a DimRecruit</h1>
<p>Esta es la página de inicio de nuestra aplicación.</p>



<% if @recent_job_offers.any? %>
  <h2>Recent Job Offers:</h2>
  <ul>
    <% @recent_job_offers.each do |job_offer| %>
      <li><%= link_to job_offer.title, job_offer_path(job_offer) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No job offers available at the moment.</p>
<% end %>

<div>
  <h2>Quick Links:</h2>
  <ul>
    <li><%= link_to 'Candidates', candidates_path %></li>
    <li><%= link_to 'Job Offers', job_offers_path %></li>
    <li><%= link_to 'Applications', applications_path %></li>
    <li><%= link_to 'Recruiters', recruiters_path %></li>
  </ul>
</div>

