<h1>Aprobar Solicitud de Creación de Cuenta</h1>
<p>A continuación se muestran los detalles de la solicitud:</p>

<p>Nombre: <%= @request.name %></p>
<p>Email: <%= @request.email %></p>
<p>Experiencia: <%= @request.experience %></p>
<p>Habilidades: <%= @request.skills %></p>
<p>Expectativas de Renta: <%= @request.salary_expectation %></p>
<p>Título Profesional: <%= @request.professional_title %></p>
<p>Mensaje: <%= @request.message %></p>

<p>La solicitud ha sido aprobada. El correo de bienvenida ha sido enviado al candidato.</p>


