<p style="color: green"><%= notice %></p>

<%= render @recruiter %>

<div>
  <%= link_to "Edit this recruiter", edit_recruiter_path(@recruiter) %> |
  <%= link_to "Back to recruiters", recruiters_path %>

  <%= button_to "Destroy this recruiter", @recruiter, method: :delete %>
</div>
